<div id="library_expanded">

  <div id="library_expanded_fanart"></div>

  <div id="covers">
    <div class="info">
      <h1 class="label"></h1>
      <p class="details"></p>
      <p class="desc"></p>
    </div>

    {% if library %}

      {% if library.tvshows %}
        <ul class="covers" data-location="shows">
        {% for item in library.tvshows %}
          <li data-label="{{ item.label }}" data-fanart="{{ vfs_url }}{{ item.fanart }}" data-desc="{{ item.plotoutline|truncate(500) }}">
            <img src="{{ vfs_url }}{{ item.thumbnail }}">
          </li>
        {% endfor %}
      {% endif %}

      {% if library.movies %}
        <ul class="covers" data-location="movies">
        {% for item in library.movies %}
          <li data-label="{{ item.label }}" data-desc="{{ item.plotoutline|truncate(500) }}" data-fanart="{{ vfs_url }}{{ item.fanart }}" data-details="{{ item.genre }}{% if item.year %} ({{ item.year }}){% endif %}">
            <img src="{{ vfs_url }}{{ item.thumbnail }}">
          </li>
        {% endfor %}
      {% endif %}

    {% else %}

      <ul class="covers" data-location="menu">
        <li data-label="Movies" data-type="movies"><img src="/static/images/blank_case.png"></li>
        <li data-label="TV Shows" data-type="shows"><img src="/static/images/blank_case.png"></li>
      </ul>

    {% endif %}

  </div>

</div>
